<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OC</key>
	<array>
		<string>DispatchViewController</string>
		<string>LoadImageViewController</string>
		<string>ViewController</string>
		<string>CollectionViewController</string>
		<string>ProducerConsumerVC</string>
		<string>ShadowViewController</string>
		<string>MallPresentViewController</string>
	</array>
	<key>Swift</key>
	<array>
		<string>BLECentralViewController</string>
		<string>BLEPeripheralViewController</string>
		<string>CustomMapVC</string>
		<string>AnimationVC</string>
		<string>DragAndDropVC</string>
		<string>CustomCIFilterVC</string>
		<string>ScrollViewVC</string>
	</array>
</dict>
</plist>
